footer {
    font-size: 0.8rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    margin: 0.3rem;
    text-align: center;
}

footer p a {
    color: #08bc8c;
    text-decoration: none;
}

footer p a:hover {
    cursor: pointer;
}

#logo {
    height: 0.8rem;
    width: 0.8rem;
}
